extends baseEmail

block content
  p Hi #{firstName},
  p Forgot your password? Here is OTP to reset your password:

  strong.otp #{token}
  |
  p If you didn't forget your password, please ignore this email!

  p Thanks,
  p - Team MRP